<p><%= @post.content %></p>

<h2>Comments</h2>

<!-- Form to add a new comment to the post (top-level comment) -->
<%= form_with(model: [@post.user, @post, Comment.new], local: true) do |form| %>
  <div>
    <%= form.text_area :content, placeholder: "Add a comment" %>
  </div>
  <div>
    <%= form.submit "Add Comment" %>
  </div>
<% end %>

<!-- Render all top-level comments -->
<div>
  <ul>
    <%= render partial: "comments/comment", collection: @comments %>
  </ul>
</div>
